. {
    margin: 5px;
    padding: 5px;
}

html {
    width: 100vw;
    height: 100vh;
    background-color: red;
}

#input {
    width: 97%;
    height: 47%;
}
#stack {
    width: 97%;
    height: 47%;
    white-space: pre-wrap;
    overflow-y: scroll;
}