. {
    margin: 0px;
    padding: 0px;
}

#main {
    width: 100vw;
    height: 100vh;
    background-color: red;
}

#input {
    width: calc(100% - 10px);
    height: calc(50% - 10px);
}
#stack {
    width: calc(100% - 10px);
    height: calc(50% - 10px);
    white-space: pre-wrap;
    overflow-y: scroll;
}